.popup__close {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  padding: 0;
  background: url(../../../images/popup-close.svg) center / cover;
  border: 0;
  cursor: pointer;
  transition: 1s;
}

.popup__close:hover {
  opacity: .6;
  transition: .5s;
}

@media (max-width: 768px) {
  .popup__close {
    top: -36px;
    right: 0;
    width: 20px;
    height: 20px;
  }
}
