.profile__edit_type_avatar {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 120px;
  margin: 0;
  background-size: 26px;
  border: 0;
  border-radius: 100%;
  opacity: 0;
  z-index: 1;
}

.profile__avatar:hover .profile__edit_type_avatar {
  opacity: 1;
  cursor: pointer;
  transition: .5s;
}
